<ion-header>
  <ion-toolbar>
    <ion-title>{{console.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="games$ | async as games">
    <ion-virtual-scroll [items]="games" approxItemHeight="56px">
      <ion-item *virtualItem="let game">
        <ion-avatar slot="start">
          <img src='/assets/images/covers/{{console.short}}/{{game.name}}.jpg' onerror="this.src = '/assets/images/consoles/N64_cartB01.gif'">
        </ion-avatar>
        <ion-label>
          <h3>{{game.name}}</h3>
        </ion-label>
        <ion-toggle slot="end" (ionChange)="changeSelected(game, $event)" [checked]="gameSelected(game)"></ion-toggle>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>
</ion-content>
